*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background: linear-gradient(to left, rgb(182, 209, 232), rgb(236, 228, 228), rgb(182, 209, 232));
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.title{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    gap: 5%;
}

.box{
    border: 1px solid purple;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    text-shadow: 0 0 1rem purple;
}

@media only screen and (max-width: 768px){
    .container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}