*{
    margin: 0;
    padding: 0;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    width: max-content;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    text-align: center;
}
td{
    padding: 10px;
}
table{
    margin:30px auto;
    text-align: center;
}