*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
 } 
  
 header{ 
    height: 70px; 
    width: 100dvw; 
    display: flex; 
    position: fixed; 
    top: 0; 
    z-index: 11; 
    color: #f9f9f3; 
 } 
  
 main{ 
    margin-top: 70px; 
 } 
  
 nav{ 
    height: 70px; 
    width: 100dvw; 
    display: flex; 
    justify-content: space-between; 
    background-color: #00008b; 
 } 
  
 .title{ 
    height: 100%; 
    width: 60%; 
    display: flex; 
    justify-content: start; 
    align-items: center; 
    padding-left: 3%; 
    gap: 2.4%; 
 } 
  
 .title img{ 
    height: 90%; 
 } 
  
 .title h2{ 
    border-left: 3px solid white; 
    padding-left: 2%; 
    padding-top: 1%; 
    padding-bottom: 1%; 
    color: white; 
    font-family: Oswald; 
 } 
  
  
 .ops{ 
    display: flex; 
    height: 100%; 
    width: 40%; 
    background-color: hsl(0,77%,40%); 
    justify-content: center; 
    align-items: center; 
 } 
  
 .ops ul{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 5%; 
    width: 100%; 
 } 
  
 .ops ul li{ 
    list-style: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
 } 
  
 .ops ul li a{ 
    color: white; 
    font-family: Oswald;
    text-decoration: none; 
 } 
  
 .ops ul li a:hover{ 
    text-shadow: 0 0 4px black; 
 } 
  
 .ops i{ 
    display: none; 
    font-size: 120%;
    color: #f9f9f3; 
 } 
  
 .underline{ 
    height: .5px; 
    width: 0px; 
    border-top: 1.5px solid white; 
    transition: width .35s linear; 
    margin-top: 2px; 
 } 
  
 li:hover .underline{ 
    width: 100%; 
  } 
  
 .opsm{ 
    transform: translateY(-100vh); 
    transition: transform .35s ease-in; 
    height: calc(50vh - 70px); 
    display: flex; 
    position: relative; 
    z-index: 3; 
    justify-content: center; 
    align-items: center; 
    background-color: hsl(0,77%,30%); 
    position: absolute; 
    width: 100dvw; 
 } 
  
 .opsm ul{ 
    height: 100%; 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    flex-direction: column; 
 } 
  
 .opsm ul li{ 
    list-style: none; 
 } 
  
 .opsm ul li a{ 
    color: white; 
    font-family: Oswald;
    text-decoration: none; 
 } 
  
 .opsm ul li a:hover{ 
    text-shadow: 0 0 4px black; 
 } 
  
 .img{ 
    background-image: url("https://ldce.ac.in/img/sliders/safeguard-your-future-gIe02l.jpg"); 
    width: 100vw; 
    height: calc(100dvh - 70px); 
    filter: blur(5px); 
    background-position: center; 
    background-size: cover; 
    position: absolute; 
 } 
  
 .img-text{ 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    z-index: 2; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
 } 
  
 .img-text h1 { 
    font-family: Oswald; 
    font-size: 12rem; 
    text-shadow: 2px 2px #f9f9f3, 
                -2px -2px #f9f9f3, 
                2px -2px #f9f9f3, 
                -2px 2px #f9f9f3; 
    color: #666666;  
 } 
  
 .img-text h1 span:not(:last-child) { 
    letter-spacing: 3rem; 
 } 
 .img-text p{ 
    font-family:'Space Grotesk', sans-serif; 
 } 
  
 .active{ 
    text-shadow: 0 0 5px black; 
 } 
  
 .abouts{ 
    position: absolute; 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    flex-direction: column; 
    font-family: 'Space Grotesk', sans-serif; 
    background-color: #f9f9f3; 
    min-height: calc(100% - 70px); 
 } 
  
 .abouts h1{ 
    width: 100%; 
    text-align: center; 
    font-family: Oswald, sans-serif; 
 } 
  
 .welcome, .vision, .mission{ 
    width: 100%; 
    padding: 10px 5% 5px 5%; 
    margin-top: 20px; 
    text-align: justify; 
 } 
  
 .welcome ul, .vision ul{ 
    list-style: none; 
 } 
  
  
  
 /* <--------------------------------Responsive-------------------------------> */ 
  
 @media only screen and (max-width:1050px){ 
    .ops ul li a{ 
       font-size: 0.9rem; 
    } 
 } 
  
 @media only screen and (max-width:950px){ 
    .ops{ 
       width: 45%; 
    } 
    .title{ 
       width: 55%; 
    } 
 } 
  
 @media only screen and (max-width:840px){ 
    .title h2{ 
       font-size: 20px; 
    } 
  
    .title{ 
       width: 50%; 
    } 
  
    .ops{ 
       width: 50%; 
    } 
  
    .img-text{ 
       width: 90%; 
    } 
 } 
  
 @media only screen and (max-width:791px){ 
    .title{ 
       width: 85%; 
    } 
    .ops{ 
       width: 15%; 
    } 
    .ops ul{ 
       display: none; 
    } 
    .ops i{ 
       display: inline-block; 
       cursor: pointer; 
       z-index: 100; 
    } 
 } 
  
 @media only screen and (max-width: 680px){ 
    .img-text h1 span:not(:last-child) { 
       letter-spacing: 2rem; 
    } 
  
    .img-text h1 { 
       font-size: 10rem;  
    } 
 } 
  
 @media only screen and (max-width:430px){ 
    .title{ 
       gap: 1%; 
    } 
  
    .title h2{ 
       padding-left: 1%; 
       font-size: 17px; 
    } 
  
    .title img{ 
       height: 70%; 
    } 
  
    .img-text h1 span:not(:last-child) { 
       letter-spacing: 1rem; 
    } 
  
    .img-text h1 { 
       font-size: 8.5rem;  
    } 
  
    .abouts h1{ 
       font-size: 1.2rem; 
    } 
  
    .abouts ul li{ 
       font-size: 0.7rem; 
    } 
 } 
  
 @media only screen and (max-width: 300px){ 
    .img-text h1 span:not(:last-child) { 
       letter-spacing: .8rem; 
    } 
  
    .img-text h1 { 
       font-size: 7rem;  
    } 
 } 
  
 @media only screen and (max-height: 630px){ 
    .abouts h1{ 
       font-size: 1.5rem; 
    } 
 }