*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    padding: 1em;
    margin: 2em auto;
    width: 75%;
    background-color: rgb(255, 255, 193);
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    text-align: center;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2em;
}
.con p:first-child{
    font-size: 1.5rem;
}
input{
    margin: 1em 0.2em;
}
input[type=submit]{
    /* margin-top: 2em; */
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid #555;
    background-color: hsl(108, 60%, 75%); 
    color: #555;
    cursor: pointer;
    transition: all 0.5s linear; 
}


input[type=submit]:hover {
    background-color: hsl(108, 65%, 65%); 
    color: #000;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.result{
    font-size: 1rem;
    text-align: left;
}